/** BEGIN: Non Openmrs CSS **/
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
	font-family: "Roboto";
}
div.container {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	margin-top: 30px;
	border: 1px solid whitesmoke;
	padding: 21px;
	border-radius: 4px;
}
.form__group {
	position: relative;
	padding: 15px 0 0;
	margin-top: 10px;
	width: 50%;
}

.form__field {
	font-family: inherit;
	width: 200%;
	border: 0;
	border-bottom: 2px solid #9b9b9b;
	outline: 0;
	font-size: 1rem;
	color: #000000;
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;
}
.form__field::placeholder {
	color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
	font-size: 0.9rem;
	cursor: text;
	top: 20px;
}
  
.form__label {
	width: 200%;
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 0.9rem;
	color: #625b57;
}
  
.form__field:focus {
	padding-bottom: 6px;
	font-weight: 700;
	border-width: 3px;
	border-image: linear-gradient(to right, #11998e, #38ef7d);
	border-image-slice: 1;
}
.form__field:focus ~ .form__label {
	width: 250%;
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 0.9rem;
	color: #11998e;
	font-weight: 700;
}
  
/* reset input */
.form__field:required, .form__field:invalid {
	box-shadow: none;
}