#title{
    display: flex;
    /* 水平置中 */
    justify-content: center;
    margin-bottom: 20px;
}

.card-body{
    margin-left: 10%;
    margin-right: 10%;
}

input{
    width: 100%;
}

input[type="color"] {
    margin-left: 20px;
    height: 20px;
    width: 80px;
}

.rowItem{
    margin-top: 30px;
    display: flex;
    flex-direction:  column;
    margin-left: 7.5%;
    margin-right:7.5%;
}